TASK        = pldrc
TOP_DESIGN  = rsp_s2_dma_rd
COMPONENT   = rsp_s2_dma
FILELIST    = makefile
#FILELIST    = $rsp_s2_dma/rsp_s2_dma_filelist
LIBLIST     = $vobs/lib/mem_liblist.list
LEFLIST     = 
EXTRAS      = 
SGDC        = cn/%(TOP_DESIGN)s.sgdc
WAIVERS     = cn/%(TOP_DESIGN)s.awl

GOALS       = lint-mustfix lint-must lint-reset lint-clock
